/*

HIDDEN:

Chat Window         - New Server Basic Tutorials

Chat Bar            - Nitro Gift
                    - Gif picker
                    - Emoji picker
                    - Sticker picker

Top Bar             - Help button
                    - Open Logs
                    
Settings            - My Account and other things in sidebar
                    - Same for settings contextmenu

Auth Screen         - QR Code Login

SHORTCUTS:

Ctrl + E            : Emoji picker
Ctrl + G            : Gif picker
Ctrl + S            : Sticker picker

Ctrl + Shift + H    : Get help

Ctrl + P            : Pins
Ctrl + U            : Members list

Ctrl + R            : Reload
Ctrl + /            : All shortcuts

No way              : QR Code Login

*/

/* Nitro Gift, GIF picker and Emoji picker */
.buttons-3JBrkn button[aria-label*="gift"],
.buttons-3JBrkn button[aria-label*="regalo"],
.buttons-3JBrkn button[aria-label*="emoji"],
.buttons-3JBrkn button[aria-label*="GIF"],
.buttons-3JBrkn button[aria-label*="sticker"] {
    display: none;
}
/* Get Help */
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.chat-3bRxxu > section > div.toolbar-1t6TWx > a, #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.container-1D34oG > section > div.toolbar-1t6TWx > a {
    display: none;
}
/* Video Call */
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.chat-3bRxxu > section > div.toolbar-1t6TWx > div[aria-label*="ideo"] {
    display: none;
}
/* Stream button when playing a game */
.gameWrapper-1jIQAX ~ .actions-aUdUfC {
    display: none;
}
/* Hidden in settings: Categories, My Account, Biling, Discord Nitro, Gift Inventory, Server Boost, HypeSquad,
Overlay, Keybinds, Streamer Mode, Change Log, Emotes, Custom CSS, Social Links */
#user-settings-cog-My_Account,
#user-settings-cog-Billing,
#user-settings-cog-Discord_Nitro,
#user-settings-cog-Library_Inventory,
#user-settings-cog-Nitro_Server_Boost,
#user-settings-cog-Hypesquad_Online,
#user-settings-cog-Overlay,
#user-settings-cog-Keybinds,
#user-settings-cog-Language,
#user-settings-cog-changelog,
#user-settings-cog > div > div:nth-child(22) > div.layer-v9HyYc > div > div > div > div:nth-child(2),
#user-settings-cog > div > div:nth-child(22) > div.layer-v9HyYc > div > div > div > div:nth-child(5),
.platform-win #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div > nav > div > div:nth-child(2),
.platform-win #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div > nav > div > div:nth-child(6),
.platform-win #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div > nav > div > div:nth-child(8),
.platform-win #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div > nav > div > div:nth-child(9),
.platform-win #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div > nav > div > div:nth-child(10),
.platform-win #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div > nav > div > div:nth-child(11),
.platform-win #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div > nav > div > div:nth-child(15),
.platform-win #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div > nav > div > div:nth-child(17),
.platform-win #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div > nav > div > div:nth-child(21),
.platform-win #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div > nav > div > div:nth-child(23),
.platform-win #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div > nav > div > div:nth-child(25),
#bd-settings-sidebar > span > div > div:nth-child(4),
#bd-settings-sidebar > span > div > div:nth-child(7),
.side-8zPYf6 .header-2RyJ0Y,
#bd-settings-sidebar .ui-tab-bar-header,
.socialLinks-3jqNFy,
.card-1yV8cG {
    display: none;
}
.side-8zPYf6 .separator-gCa7yv,
.ui-tab-bar-separator {
    display: none !important;
    background-color: transparent !important;
    margin: 0 !important;
    height: 0 !important;
}
.scroller-305q3I .side-8zPYf6 .header-2RyJ0Y {
    display: flex;
}
.defaultLayoutStyle-qWB_fd {
    padding-top: 20px !important;
}
.sidebar-CFHs9e {
    padding: 20px 6px 0px 20px;
}
/* Useless BBD settings: Emojis (not everyone can see), Custom CSS (it's better to place custom CSS in a theme file) */
.platform-win #bd-settings-sidebar > span > div > div:before {
    content: "BD " !important;
}
/* New BD fixes (now Emotes and custom CSS can be disabled, yesss) */
.bd-sidebar-header {
    display: none;
}
.platform-win #app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.sidebarRegion-VFTUkN > div > nav > div > div:nth-child(26):before {
    content: "BD ";
}

/* Re-add roles button in channel settings */
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > aside > div > div.flexChild-faoVW3 > div.side-8zPYf6 > div.header-2RyJ0Y,
/* and in server settings */
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStart-H-X2h-.noWrap-3jynv6.rolesContent-ZiihSZ > aside > div > div.flexChild-faoVW3 > div > div > div.header-2RyJ0Y {
    display: block;
}

/* Bye bye tutorials */
.card-3RzMcx {
    display: none;
}
.subtitle-2UIIw0 {
    font-size: 0;
}
.subtitle-2UIIw0:after {
    font-size: 14px;
    content: "This is the beginning of this server. A beginning without tutorials!"
}
/* QR Code Login */
.qrLogin-1AOZMt,
.verticalSeparator-3huAjp {
    display: none;
}
.authBoxExpanded-2jqaBe {
    width: 480px;
}
